/*********************************************
*          Índice
**********************************************

1 - RESET
2 - ESTILOS GENERALES
3 - HEADER
	3.1 - Header móvil y tablet
4 - FOOTER
	4.1 - Footer móvil y tablet
5 - INDEX
	5.1 - Index tablet
	5.2 - Index tablet sm
	5.3 - Index móvil
6 - APLICACIONES
	6.1 - Aplicaciones tablet
    6.2 - Aplicaciones móvil 
7 - DESPACHO 42
	7.1 - Despacho 42 y tablet
	7.2 - Despacho 42 móvil
8 - EN EL CINE
	8.1 - En el cine tablet
	8.2 - En el cine móvil
**********************************************/

/*********************************************
*          1 - Estilos RESET
**********************************************/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
    margin-bottom: 10px 
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/************* Fin RESET *************/
/*********************************************
*          2 - Estilos GENERALES
**********************************************/
html {
    font-size: 16px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8rem;
}
a {
    color: rgb(222,35,51);
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.container, section.intro, section.noticias {
    max-width: 1080px;
    margin: auto;
    padding: 20px;
}
h2 {
    font-size:1.6rem;
    font-weight: 700;
    text-align: center;
}
p {
    line-height: 1.4rem;
    font-size: 1rem;
}
/************* Fin GENERALES *************/
/*********************************************
*          3 - Estilos HEADER
**********************************************/

header {
    width: 100%;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
}
header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
}
header a:hover {
    color:  rgba(0,0,0,0.5);
    text-decoration: none;
}
header a.active {
    color: rgb(222,35,51);
}
header {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.logo p{
    font-size: 3rem;
}
.logo span {
    font-weight: bold;
}
nav ul li {
    display: inline-block;
    padding: 15px 15px 5px 0;
}
.logo a p {
    font-weight: normal;
}
/* 3.1 - Header móvil y tablet */
@media (max-width:900px){
    header .container nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.4rem;
        margin-top: 25px;
    }
    header .container nav ul li {
        padding: 0;
    }
    ul, p {
        line-height: 1.2rem;
    }
}
/************* Fin HEADER *************/

/*********************************************
*          4 - Estilos FOOTER
**********************************************/

footer {
    width: 100%;
    background: black;
    color: #fff;
    font-size: 12px;
}
footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    color: rgb(222,35,51);
    text-decoration: none;
}
.menu ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-right: 15px;
}
.menu li:not(:last-child)::after {
    content: "·";
    padding-left: 15px;
}
footer p:first-of-type {
    margin-top: 15px;
}
footer nav ul li {
    padding-right: 0px;
}
footer .rrss img {
    width: 20px;
}
nav.rrss ul li {
    padding-top: 0 !important;
}
.rrss li a:hover {
    opacity: 0.7;
}
/* 4.1 - Footer móvil y tablet */ 
@media (max-width:900px){
    nav.menu ul, nav.rrss ul {
        display: flex;
        justify-content: center;
    }
    nav.menu ul {
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }
    .menu li:not(:last-child)::after {
        content: inherit;
        padding-left: 15px;
    }
    nav.menu ul li {
        padding: 0;
    }
    .menu li {
        margin-right: 0;
    }
    footer p, header p {
        text-align: center;
    }
}
/************* Fin FOOTER *************/
/*********************************************
*          Estilos INDEX
**********************************************/
#index section:first-of-type {
    background-image: url('../img/bg-hero-home.jpg');
    background-position:top;
    background-size:cover;
    background-repeat:no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    width: 100%;
}
#index section:first-of-type h1{
    font-size: 2.6rem;
    text-align: center;
    width: 500px;
    margin: auto;
    line-height: 2.8rem;
    color: #fff;
}
#index h2 {
    font-size: 1.2rem;
}
#index .noticias a:hover {
    text-decoration: none;
}
.intro p {
    max-width: 65%;
    margin: 15px auto;    
    font-size: 1.2rem;
    line-height: 1.8rem;
}
#index section.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

#index section.noticias article {
    flex: 200px;
    max-width: 280px;
    gap: 20px;
}
#index article figure img {
    width: auto;
    max-width: 280px;
}
#index section.noticias article h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: left;
}
article a.more:before {
    content: "> ";
}
#index article figure {
    margin: 20px 0;
}
#index section.noticias article a.more {
    font-size: 12px;
}

/* 5.1 - Index tablet */
@media (max-width:900px) AND (min-width:651px){
    #index section.noticias article {
        flex: 200px;
        max-width: 200px;
        gap: 0px;
    }
    #index section.noticias article figure img {
        width: auto;
        max-width: 200px;
    }
}
/* 	5.2 - Index tablet sm
	Estilos para que las noticias cambien a vertical en cuanto no caben horizontal
(Aunque no sea un movil todavía) */

@media (max-width: 650px) {
    #index section.noticias {
        flex-direction: column;
    }
    #index section.noticias article {
        width: 100%;
        flex: 200px;
        max-width: 100%;
        gap: 20px;
    }
    .noticias article img {
        width: auto;
        max-width: 100%;
    }
    #index section.noticias article figure img, #index section.noticias article figure figcaption {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 100%;
    }
    section.noticias {
        padding: 5px 40px 40px;
    }
    article h2 {
        font-size: 32px;
    }
    h2:first-of-type {
        margin-bottom: 5px
    }
    article h2 {
        font-size: 32px;
    }
    ul {
        line-height: 1.2rem;
    }
}
/* 5.3 - Index móvil */
@media (max-width:900px){
    #index section:first-of-type {
        background-image: url('../img/bg-hero-home-m.jpg');
    }
    #index section.noticias {
        flex-wrap: nowrap;
    }
    #index section.intro h2, #index h2 {
        font-size: 1.4rem;
    }
    #index section.noticias h2 {
        font-size: 1.2rem;
    }
    .intro p {
        max-width: 100%;
        margin-top: 25px;
    }
}
/************* Fin INDEX *************/
/*********************************************
*          6 - Estilos APLICACIONES
**********************************************/
#aplicaciones .articulos {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}
#aplicaciones article {
    background: rgb(244, 246, 247);
    padding: 20px;
    min-height: 240px;
    position: relative;
}
#aplicaciones article a.more {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 11px;
}
#aplicaciones h1 {
    text-align: center;
    margin: 35px;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 700;
}
#aplicaciones .articulos article h2 {
    text-align: left;
    margin-bottom: 35px;
}
#aplicaciones a.more:hover {
    text-decoration: none;
}
/* 6.1 - Aplicaciones tablet */
@media (max-width: 900px) {
    #aplicaciones .articulos {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    #aplicaciones article {
        min-height: 220px;
    }
    body, #aplicaciones {
        max-width: 100%;
    }
}
/* 6.2 - Aplicaciones móvil */
@media (max-width: 650px) {
    #aplicaciones .articulos {
        grid-template-columns: 1fr;
    }
    #aplicaciones article {
        min-height: 210px;
    }
    body, #aplicaciones {
        max-width: 100%;
    }
}
/************* Fin APLICACIONES *************/
/*********************************************
*          7 - Estilos Despacho 42
**********************************************/

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 60px;
}
/* 7.1 - Despacho 42 y tablet */
@media (max-width:900px) {
    .content {
        grid-template-columns: 1fr;
        grid-gap: 60px;
    }
    aside {
        max-width: 80%;
        margin: auto;
    }
}

#despacho nav ul li {
    padding: 0;
}
#despacho nav ul li a, #despacho nav ul li span {
    padding: 0 5px;
}
.breadcrumb {
    padding: 0.2rem;
    margin-bottom: 2.5rem;
}
.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}   
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
    color: #000;
}
.breadcrumb li:not(:last-child) a {
    color: #000;
}
.breadcrumb li:not(:last-child) a:hover {
    color: rgb(222,35,51);
    text-decoration: none;
}
.breadcrumb li:last-of-type {
    color: rgb(222,35,51);
}
#despacho .breadcrumb ul li a {
    font-weight: 400;
    font-style: normal;
}
#despacho article {
    margin-bottom: 25px;
}
#despacho article figure img {
    display: block;
    max-width: 100%;
    margin-bottom: 15px;
}
#despacho article figure {
    width: 100%;
    font-size: 12px;
}
.spacer {
    padding: 0 10px;
}
#despacho h1 {
    font-size: 32px;
    margin: 35px 0 15px;
    line-height: 1.2em;
}
#despacho h2 {
    font-size: 20px;
}
#despacho h1, #despacho h2 {
    font-weight: 700;
    text-align: left
}
#despacho h3 {
    margin: 15px 0;
    font-weight: 700;
    font-size: 18px;
}
#despacho p {
    line-height: 1.4rem;
    margin-bottom: 15px;
}
#despacho a {
    font-weight: 700;
    font-style: italic;
}
p.referencia a {
    font-weight: 400;
}
.about {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 15px;
    background-color: rgb(244, 246, 247); 
    padding: 25px;
    margin-bottom: 30px;
}
/* 7.2 - Despacho 42 móvil */
@media (max-width:600px) {
    .about {
        grid-template-columns: auto;
    }
    aside {
        max-width: 100%;
        margin: auto;
    }
}
.about .logo-col img {
    max-width: 65px;
    border-radius: 12px;
}
.about p.h2, .comments p.h2 {
    font-size: 20px;
    font-weight: 700;
}
.about p.h3 {
    font-size: 18px;
    font-weight: 700;
}
.about ul li {
    list-style: none;
}
#despacho .about ul li a, #despacho .comments label a {
    font-weight: 400;
    font-style: normal;
}
.about li:before {
    content: ">";
    margin-right: 5px;
    color: rgb(222,35,51);
}
label {
    display: block;
}
textarea, input[type="text"] {
    width: 100%;
    background-color: rgb(244, 246, 247);
    border: none;
}
input[type="text"] {
    height: 35px;
}
.form-group {
    margin-bottom: 20px;
}
.comments .nota {
    font-size: 10px;
}
.form-group.politica label {
	display: inline;
}
input[type="submit"] {
	background: red;
	border: none;
	padding: 8px 10px;
	text-transform: uppercase;
	color: #ffffff;
}
aside p.h2 {
    font-size: 24px;
    font-weight: 700;
}
ul.related {
    margin-top: 28px;
}
.related li {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 15px;
    border-bottom: solid 1px rgb(220, 220, 220);
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.related img {
    max-width: 80px;
    border-radius: 50%;
}
#despacho .excerpt > h2.h4 {
    margin: 5px 0 0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1rem;
}

#despacho .excerpt time {
    font-size: 12px;
}
/************* Fin NOTICIAS *************/
/*********************************************
*          8 - Estilos EN EL CINE
**********************************************/

#cine h1{
    text-align: center;
    margin: 35px;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 700;
}
#cine .videos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
#cine .videos article {
    background-color: rgb(244, 246, 247);
    padding: 0px;
    min-height: 240px;
    margin-bottom:20px;
}
#cine article .resumen {
    padding: 15px;
}
#cine article p {
    padding: 5px 10px 25px 0;
    display: inline;
}
#cine article h2 {
    font-weight: 700;
    font-style: italic;
    display: inline;
    font-size: 1rem;
}
#cine iframe {
    width: 100%;
    min-height: 280px;
    height: auto;
}
/* 8.1 - En el cine tablet */
@media (max-width: 900px) and (min-width:651px){
    #cine .videos {
        grid-template-columns: 1fr;
    }
    #cine iframe {
        min-height: 425px;
    }
}
/* 8.2 - En el cine móvil */
@media (max-width: 650px) {
    #cine .videos {
        grid-template-columns: 1fr;
    }
    #cine iframe {
        min-height: 210px;
    }
}

/************* Fin EN EL CINE *************/